<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW10-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HW10-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HW10-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HW10-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HW10-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HW10-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HW10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5B319071DC69AC400A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B319151DC69ADE00A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B319201DC69AFF00A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B3192B1DC6A0C500A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B319361DC6A6C300A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B319411DC6B05600A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B3194C1DC6B57400A2C1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
